.miniInfo {
    color: grey
}

.centered {
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}

/*----------Back to Top Button -----------*/

.btt-btn {
    cursor: pointer;
    position: fixed;
    bottom: .5em;
    right: .5em;
    padding: .5em;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 14px;
    outline-style: none;
    /*display: none;*/
 }
 
 .btt-btn:hover {
    background-color: rgba(0, 0, 0, 0.6);
 }
 
 .btt-btn:active {
    background-color: rgba(0, 0, 0, 0.8);
 }
 
 #backTT {
    z-index: -9999999;
    position: absolute;
    top: 0;
 }